@model LojaDeJogos.Models.Jogo


@{
    ViewBag.Title = "JogoResultado";
}

<h2>Jogos</h2>
<fieldset>
    <legend>Lista de Jogos</legend>

    <div class="editor-label">Código do Jogo:</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoCod)</div>

    <div class="editor-label">Nome do Jogo:</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoVersao) </div>

    <div class="editor-label">Desenvolvedor do Jogo:</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoDesenv)</div>

    <div class="editor-label">Gênero do Jogo:</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoGen)</div>

    <div class="editor-label">Faixa Etária Recomendada:</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoFaixaEt)</div>

    <div class="editor-label">Plataforma do Jogo:</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoPlat)</div>

    <div class="editor-label">Ano de Lançamento do Jogo:</div>
    <div class="editor-field">@Html.DisplayFor(m => m.JogoAnoLanc)</div>

    <br />

    @Html.ActionLink("Voltar", "Index", "Home")

</fieldset>