@model  LojaDeJogos.Models.Cliente


@{
    ViewBag.Title = "Cliente";
}


<h2>Cadastro de jogos </h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dados do Jogo</legend>
        <div class="editor-label">
            Código
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClienteNome)
        </div>

        <div class="editor-label">
            Nome do jogo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClienteCPF)
        </div>

        <div class="editor-label">
            Versão do jogo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FuncDtNasc)

        </div>

        <div class="editor-label">
            Desenvolvedor
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClienteEmail)

        </div>

        <div class="editor-label">
            Gênero do jogo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClienteCel)

        </div>

        <div class=" editor-label">
            Faixa etária
        </div>
        <div class=" editor-field">
            @Html.EditorFor(model => model.ClienteEnd)
        </div>

        <p><input type="submit" value="Cadastrar" /></p>
    </fieldset>

}