@model LojaDeJogos.Models.Funcionario


@{
    ViewBag.Title = "FuncionarioResultado";
}


<h2>Listar</h2>
<fieldset>
    <legend>Lista de Funcionários</legend>

    <div class="editor-label">
        Código do Funcionário:
    </div>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncCod)</div>

    <div class="editor-label">
        Nome do Funcionário:
    </div>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncNome)</div>

    <div class="editor-label">
        CPF do Funcionário:
    </div>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncCPF)</div>

    <div class="editor-label">
        RG do Funcionário:
    </div>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncRg)</div>

    <div class="editor-label">
        Data de Nascimento do Funcionário:
    </div>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncDtNasc)</div>

    <div class="editor-label">
        Endereço do Funcionário:
    </div>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncEnd)</div>

    <div class="editor-label">
        Número do celular do Funcionário:
    </div>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncCel)</div>

    <div class="editor-label">
        Email do Funcionário:
    </div>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncEmail)</div>

    <div class="editor-label">
        Cargo do Funcionário:
    </div>
    <div class="editor-field">@Html.DisplayFor(m => m.FuncCargo)</div>

    <br />

    @Html.ActionLink("Voltar", "Index", "Home")

</fieldset>
